<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{% if page.title %}{{ page.title | append: " - " | escape }}{% endif %}{{ site.title | escape }}</title>
	<meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: 500 }}">

	<link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url | replace:'index.html','' }}">

	<!-- RSS -->
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
		href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180"
		href="{{ site.images-path | prepend: site.baseurl | prepend: site.url }}favicon/apple-touch-icon.png?v=1">
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{ site.images-path | prepend: site.baseurl | prepend: site.url }}favicon/favicon-32x32.png?v=1">
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{ site.images-path | prepend: site.baseurl | prepend: site.url }}favicon/favicon-16x16.png?v=1">
	<link rel="manifest"
		href="{{ site.images-path | prepend: site.baseurl | prepend: site.url }}favicon/site.webmanifest?v=1">
	<link rel="mask-icon"
		href="{{ site.images-path | prepend: site.baseurl | prepend: site.url }}favicon/safari-pinned-tab.svg?v=1"
		color="#5bbad5">
	<link rel="shortcut icon"
		href="{{ site.images-path | prepend: site.baseurl | prepend: site.url }}favicon/favicon.ico?v=1">
	<meta name="apple-mobile-web-app-title" content="Ayush Sharma's notes">
	<meta name="application-name" content="Ayush Sharma's notes">
	<meta name="msapplication-TileColor" content="#603cba">
	<meta name="msapplication-TileImage"
		content="{{ site.images-path | prepend: site.baseurl | prepend: site.url }}favicon/mstile-144x144.png?v=1">
	<meta name="msapplication-config"
		content="{{ site.images-path | prepend: site.baseurl | prepend: site.url }}favicon/browserconfig.xml?v=1">
	<meta name="theme-color" content="#ffffff">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fira+Code:300,400,700|Lato:400,400i,700,700i&display=swap"
		rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url }}">

</head>