// Main
body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-serif;
  }
}

// Header
nav a {
  color: $body-color;
}

// Articles
article.post {
  a {
    border-bottom: 2px solid $sunrise;
    
    &:hover {
      text-decoration: none;
      border-bottom: 2px solid $link-hover-color;
    }
  }
  p {
    @extend .my-4;
    line-height: $line-height-lg;
  }

  h2 {
    @extend .my-2, .p-2;
    border-bottom: 8px solid $blue-topaz;
  }

  h3 {
    @extend .my-4, .px-4;
    border-left: 8px solid $blue-topaz;
  }

  img {
    @extend .img-fluid;
    @extend .rounded;
    -webkit-box-shadow: 0 0.1rem 0.1rem $gray-500;
    -moz-box-shadow: 0 0.1rem 0.1rem $gray-500;
    box-shadow: 0 0.1rem 0.1rem $gray-500;
  }

  ol,
  ul {
    @extend .p-0;
    @extend .mb-0;
    list-style-type: none;
  }

  ol li {
    counter-increment: item;
    &:before {
      content: counter(item) ". ";
    }
  }

  ul li {
    &:before {
      content: "\2794";
      color: $blue-topaz;
      padding-right: $caret-width;
    }
  }

  blockquote {
    @extend .my-4, .px-2;
    @extend .alert-light;
    @extend .small;
    border-left: 2px solid $info;
  }

  code {
    padding: $kbd-padding-y $kbd-padding-x;
    font-size: $kbd-font-size;
    color: $kbd-color;
    background-color: $kbd-bg;
    @include border-radius($border-radius-sm);
    @include box-shadow($kbd-box-shadow);
  }

  pre {
    @extend .p-4;
    font-size: $font-size-base;
    color: $kbd-color;
    background-color: $kbd-bg;
    @include border-radius($border-radius-sm);
    @include box-shadow($kbd-box-shadow);

    code {
      padding:0;
    }
  }

  .sharing {
    @extend .my-4, .py-2, .px-4;
    background: $success;
  }
}

footer {
  background: $footer-bg;
}
